MONGO_INITDB_ROOT_USERNAME={username}
MONGO_INITDB_ROOT_PASSWORD={password}

CONNECT_STRING_EXTERNAL_MONGODB='mongodb://{username}:{password}@{host}:27017/'
CONNECT_STRING_INTERNAL_MONGODB='mongodb://{username}:{password}@{host}:27017/'
JWT_SECRET_KEY={jwt_secret}

MAIL_USER={mail_trap_user_dev}
MAIL_PASS={mail_trap_pass_dev}
MAIL_HOST={mail_trap_host_dev}
MAIL_PORT={mail_trap_port_dev}